<div class="row">
  <div class="col-6">
    <h2>Forms</h2>
    <form #f='ngForm' (ngSubmit)="submit(f)">
      <div ngModelGroup="contact" #contact='ngModelGroup'>
        <div *ngIf="contact.invalid">Invalid</div>
        <div class="form-group">
          <label for="firstName">First name</label>
          <input
            minlength="3"
            maxlength="10"
            pattern="banana"
            required
            ngModel
            name="firstName"
            #firstName="ngModel"
            [style.border-color]="firstName.touched && firstName.invalid ? 'red' : ''"
            id="firstName"
            type="text"
            class="form-control"/>
          <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
            <div *ngIf="firstName.errors.required">First name is required</div>
            <div *ngIf="firstName.errors.minlength">First name should not
              minimum {{firstName.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="firstName.errors.pattern">First name does not match the pater</div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last name</label>
          <input
            minlength="5"
            maxlength="10"
            pattern="google"
            required
            ngModel
            name="lastName"
            #lastName="ngModel"
            [style.border-color]="lastName.touched && lastName.invalid ? 'red' : ''"
            id="lastName"
            type="text"
            class="form-control"/>
          <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
            <div *ngIf="lastName.errors.required">Last name is required</div>
            <div *ngIf="lastName.errors.minlength">Last name should not
              minimum {{lastName.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="lastName.errors.pattern">Last name does not match the pater</div>
          </div>
        </div>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" ngModel name="isSubscribed" id="isSubscribed" class="form-check-input">
        <label for="isSubscribed"> Is subscribed </label>
      </div>

      <div class="form-group">
        <label for="contactMethod">Contact method</label>
        <select multiple ngModel #contactMethod="ngModel"
                name="contactMethod" id="contactMethod" class="form-control">
<!--          <option value=""></option>-->
          <option *ngFor="let value of contactMethods" [ngValue]="value">{{value.name}}</option>
        </select>
      </div>

      <div *ngFor="let method of contactMethods" class="form-group">
        <label for="contactMethodRadio">
          <input ngModel #contactMethodRadio="ngModel" type="radio" name="contactMethodRadio" id="contactMethodRadio"
                 value="{{method.id}}">
          {{method.name}}
        </label>
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea required ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="3"
                  class="form-control"></textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">
          <div *ngIf="comment.errors.required">Comment is required</div>
        </div>
      </div>


      <button [disabled]="f.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>


</div>
<div class="row">
  <div class="col-12">
    {{ f.value | json }}
  </div>
</div>


