<app-hero-navigation></app-hero-navigation>

<hr/>

<h2>Heroes list</h2>

<hero-search></hero-search>

<hr/>

<ul class="heroes">
  <li *ngFor="let hero of heroes" class="hero" appHighlight highlightColor="#6ab7ff99">
    <a routerLink="/hero/detail/{{ hero.id }}">
       <span class="hero--badge">#{{ hero.id }}</span> {{ hero.name | uppercase}}
    </a>
    <button class="btn" title="delete the hero" (click)="delete(hero)">Delete</button>
  </li>
</ul>

<hr/>

<div>
  <h2>Add new hero</h2>
  <label>Hero name:
    <input #heroName />
  </label>
  <button class="btn" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<hr/>
<app-messages></app-messages>
