<app-hero-navigation></app-hero-navigation>

<hr/>

<h2>Heroes list</h2>

<hero-search></hero-search>

<hr/>

<ul class="heroes">
  <li *ngFor="let hero of heroes" class="hero" appHighlight highlightColor="#6ab7ff99">
    <a routerLink="/hero/detail/{{ hero.id }}">
       <span class="hero--badge">#{{ hero.id }}</span> {{ hero.name | uppercase}}
    </a>
    <button class="btn btn-primary" title="delete the hero" (click)="delete(hero)">Delete</button>
  </li>
</ul>

<hr/>

<hero-add (onAdd)="add($event)"></hero-add>

<hr/>
<app-messages></app-messages>
