:host .heroes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}
:host .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #444444;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 15px;
}

:host .hero--edit {
  flex-direction: column;
}

:host .hero input{
  margin-left: 10px;
  padding: 5px;
}


