<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h2>Apps</h2>
      <nav class="navigation">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/hero" routerLinkActive="active">Hero</a>
        <a routerLink="/voter" routerLinkActive="active">Voter</a>
        <a routerLink="/mission" routerLinkActive="active">Mission</a>
        <a routerLink="/stock" routerLinkActive="active">Stock</a>
        <a routerLink="/monitor" routerLinkActive="active">Monitor</a>
        <a>Todo</a>
      </nav>
    </div>
    <div class="col-3">
      <h2>Examples</h2>
      <nav class="navigation">
        <a routerLink="/observable" routerLinkActive="active">Observable</a>
        <a routerLink="/forms" routerLinkActive="active">Forms</a>
      </nav>
    </div>
  </div>
</div>

<hr/>

<div class="container">
  <router-outlet></router-outlet>
</div>
