<main role="main">
  <cn-sr-banner></cn-sr-banner>
  <div class="py-2">
    <div class="container">

      <div class="row mb-4">
        <div class="container">

          <div class="row">
            <div class="col-lg-9 col-md-12">
              <h2 class="mb-2">Feeds</h2>

              <cn-sr-feed-list [url]="url">
                <div class="mb-2">
                  <nav class="nav nav-pills">
                    <a class="nav-item nav-link mr-2" routerLink="/conduit/feed"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Feed</a>
                    <a class="nav-item nav-link mr-2" routerLink="/conduit/articles"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Article</a>
                    <a class="nav-item nav-link" routerLink="/conduit/articles"
                       *ngIf="tagName"
                       [queryParams]="{tag: tagName}"
                       routerLinkActive="active">#{{tagName}}</a>
                  </nav>
                </div>
              </cn-sr-feed-list>
            </div>

            <div class="col-lg-3 col-md-12">
              <cn-sr-popular-tag-list>
                <h2 class="mb-2">Popular Tags</h2>
              </cn-sr-popular-tag-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

