<main role="main">
  <cn-sr-banner></cn-sr-banner>
  <div class="py-2">
    <div class="container">

      <div class="row mb-4">
        <div class="container">

          <div class="row">
            <div class="col-lg-9 col-md-12">
              <h2 class="mb-2">Feeds</h2>

              <div class="mb-2">
                <nav class="nav nav-pills nav-fill">
                  <a class="nav-item nav-link active" routerLink="conduit/" routerLinkActive="active">Global</a>
                  <a class="nav-item nav-link" routerLink="conduit/" routerLinkActive="active">Your</a>
                </nav>
              </div>

              <cn-sr-feed-list [url]="url"></cn-sr-feed-list>
            </div>

            <div class="col-lg-3 col-md-12">
              <h2 class="mb-2">Popular Tags</h2>
              <div>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1"> button</button>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1">Small button</button>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1">Small</button>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1">Small button</button>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1"> button</button>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1">Small</button>
                <button type="button" class="btn btn-secondary btn-sm mx-1 my-1">Small button</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

